name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - packages/*/pyproject.toml
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  commit-lint:
    if: ${{ github.event_name == 'pull_request' }}
    uses: ./.github/workflows/commitlint.yml

  lint:
    uses: ./.github/workflows/lint.yml

  test:
    uses: ./.github/workflows/test.yml
